#tekst1{
    margin: auto;
    height: auto;
    width: auto;
    padding: 100px;
    text-align: center;
    float: left;
}
#tekst2{
    margin: auto;
    height: auto;
    width: auto;
    padding: 100px;
    text-align: center;
    float: right;
}
#tekst3{
    margin: auto;
    height: auto;
    width: auto;
    padding: 100px;
    text-align: center;
    
}

