body{
background-color: red;
position: relative;
}


.foto1{
    height: 300px;
    width: 300px;
}
#tekst1{
    margin: auto;
    width: 50%;
    border: 6px solid;
    padding: 4px;
 color: white;
 

}
