/* Algemene stijlen */
.Minigames-Content {
    height: 90%;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

/* Link stijl voor klikbare div */
.Minigames-Content .video-link {
    text-decoration: none; /* Verwijder onderlijning van links */
    display: block;
    border-radius: 15px;
    
}

/* Stijl voor de video-div */
.Minigames-Content .video-div {
    text-align: center;
    color: white;
    width: 520px;
    height: 250px;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.2), 0 8px 20px rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease-in-out; /* Zachte transitie */
}

/* Hover Effect */
.Minigames-Content .video-div:hover {
    transform: scale(1.05); /* Vergroot bij hover */
    cursor: pointer; /* Toon een handcursor bij hover */
}

/* Stijl voor de tekst in video-div */
.Minigames-Content .video-div h3 {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 5px;
}

/* Stijl voor de video-desc */
.Minigames-Content .video-desc {
    background-color: rgb(0 0 0 / 50%);
    width: 330px;
    height: 462px;
    border: 1px solid white;
    border-radius: 26px;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.2), 0 8px 20px rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    color: white;
}

.Minigames-Content .video-desc p {
    text-align: center;
}


