body {
    background-color: black;
}

h1 {
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 3em;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
    margin-top: 20px;
}
.dropdown{
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: aqua;
 
}
.dropdown-menu{
    display: none;
position: relative;
background-color: white;



}
.dropdown-menu a{
    padding: 8px 12px;
    display: block;
background-color: rgb(255, 255, 255);
color: rgb(0, 0, 0);
text-decoration: none;

}
.dropdown:hover .dropdown-menu{
    display: block;
}