* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}
a, a:visited, a:focus {
  color: white
}

body {
  font-family: "Jersey 15", serif;
  font-weight: 600;
  font-style: normal;
  margin: 0;
  background-color: black;
}
/* start arrows */
.arrow-div {
  display: inline-block;
 position: relative;
}
.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  position: absolute;
  right: -30px;
  top: -6px;
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
/* end arrows */


.homepagina-container, .vlucht-info-container, .ruimteschip-container, .rest-menu-container {
  height: 100vh;
}
/* Start Homepagina */
/* header */
.header {
  height: 11vh;
  display: flex;
  justify-content: center ;
  align-items: center;
  padding: 10px;
  background-color: black;
}
/* Start burger menu */

label{
  display:flex;
  flex-direction:column;
  width: 56px;
  height: 56px;
  cursor: pointer;
}

label span{
  background: #fff;
  border-radius:10px;
  height:7px;
  margin: 7px 0;
  transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
span:nth-of-type(1){
  width:50%;
  
}

span:nth-of-type(2){
  width:100%;
}


span:nth-of-type(3){
  width:75%;
  
}


input[type="checkbox"]{
  display:none;
}


input[type="checkbox"]:checked ~ span:nth-of-type(1){
  transform-origin:bottom;
  transform:rotatez(45deg) translate(8px,0px)
}


input[type="checkbox"]:checked ~ span:nth-of-type(2){
  
  transform-origin:top;
  transform:rotatez(-45deg);
}


input[type="checkbox"]:checked ~ span:nth-of-type(3){
  
  transform-origin:bottom;
  width:50%;
  transform: translate(30px,-11px) rotatez(45deg);
  
}

/* End burger menu */
.header .menu-icon {
  margin-left: 20px;
}
.header .logo {
  margin-bottom: 20px;
  padding-top: 20px;
  color: white;
  font-size: 40px;
  text-align: center;
  flex-grow: 1;
  margin-right: 50px;
}
/* Start - nav links  */
.nav-links {
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 350px;
  height: 300px;
  background-color: rgb(0, 0, 0, 0.3);
  color: white;
  transition: visibility 0.5s ease, opacity 0.5s ease, height 0.5s ease;
}
.nav-links.active { 
  visibility: visible;  
  opacity: 1;
  height: 600px;
}
.nav-links ul {
  text-align: left;
  margin: 0;
  padding: 0;
  padding-left: 35px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}
.nav-links a {
  display: inline-block;
  position: relative;
  font-size: 18px;
  transition: transform 0.5s ease;
}
.nav-links a:hover {
  transform: translateX(5px);
}
.nav-links a::before {
  content: '';
  position: absolute;
  bottom: -5px;
  width: 40px;
  height: 3px;
  border-radius: 1px;
  background-color: white;
  transition-property: width;
  transition-duration: 1s;
}
.nav-links a:hover::before {
  width: 100%;
}
.nav-links .sub a {
  display: block;
  font-size: 15px;
  margin-left: 10px;
}
.nav-links .sub a::before {
  display: none;
}
/* End - nav links */
.landing {
  width: 100%;
  height: 89vh;
  background-position: center;
  background-image: url('../images/homepagina/homepagina1.png');
  position: relative;
  background-size: cover;
}
.landing h1, .landing p {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.landing h1 {
  top: 40%;
  z-index: 1;
  font-size: 30px;
  max-width: 650px;
  color: white;
  text-align: center;
}
.landing p {
  top: 52%;
  font-size: 18px;
  max-width: 700px;
  color: gray;
  text-align: center;
}

.landing .hidden {
  opacity: 0;
  transform: translate(-50%, -50%) translateX(-60px);
  transition: opacity 1s ease, transform 1s ease;
}
.landing p.hidden {
  transition-delay: 0.4s;
}
.landing .visible {
  transform: translate(-50%, -50%) translateX(30px);
  opacity: 1;
}

.landing::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: hsl(0, 0%, 2%);
  opacity: 0.8;
}
/* End homepagina*/

/* Start vlucht-info page */
.vlucht-info-body {
  display: flex;
  justify-content: start;
  flex-direction: column;
  background-position: center;
  background-image: url('../images/vluchtinfo-pagina/backgroundimage.jpg');
  position: relative;
  background-size: cover;
  text-align: center;
  height: 100%;
}
.vlucht-info-body::before {
  content: '';
  position: absolute;
  background-color: rgb(0, 0, 0, 0.7);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.vlucht-info-body h1 {
  margin-top: 35px;
  color: white;
  z-index: 0;
  
}
.vlucht-info-body h3 {
  color: white;
  z-index: 0;
  margin-top: 25px;
}
.vlucht-info-body .info-section {
  padding: 10px;
  z-index: 0;
  background-color: white;
  align-self: center;
  border-radius: 10px;
  margin-right: 20px;
  margin-left: 20px;
  width: 550px;
}
.info-section h4 {
  text-align: center;
  padding-left: 5px;
}
.vlucht-info-body .info-section div {
  margin-right:  20px;
}
.vlucht-info-body .info-section p {
  color: gray;
  font-size: 14px;
}
/* End Vlucht-info page */
/* Start ruimteschip page */
.ruimteschip-container {
  overflow: hidden;
}
.ruimteschip-landing {
  width: 100%;
  height: 89vh;
  background-position: center;
  background-image: url('../images/ruimteschip/tijdelijk-1.webp');
  position: relative;
  background-size: cover;
}

.ruimteschip-landing::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: hsl(0, 0%, 0%, 0.8);
  z-index: 1; /* Zorg ervoor dat dit onder de content staat */
}
.ruimteschip-container h1 {
  z-index: 1;
  color: white;
  margin-top: 30px;
  text-align: center;
  position: relative;
  margin: 0;
  padding-top: 40px;
}
.ruimteschip-landing .ruimteschip-content {
  height: 90%;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.ruimteschip-landing .ruimteschip-content .video-div {
  background-color: black;
  width: 520px;
  height: 250px;
}
.ruimteschip-landing .ruimteschip-content .video-div video {
  width: 100%;
  height: 100%;
}
.ruimteschip-landing .ruimteschip-content .video-desc {
  background-color: rgb(0 0 0 / 30%);
  width: 330px;
  height: 462px;
  border-radius: 26px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  color: white;
}
.ruimteschip-landing .ruimteschip-content .video-desc p {
  text-align: center;
}
/* End ruimteschip  page*/
/* Start rest menu  page*/
.rest-menu-container {
  overflow: hidden;
}
.rest-menu-landing {
  position: relative;
  background-image: url('/images/rest-menu/bg-4.jpg');
  background-size: cover;
  height: 89vh;
}
.rest-menu-landing::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: hsl(0, 0%, 0%, 0.5);
}
.rest-menu-landing h1 {
  position: relative;
  color: white;
  text-align: center;
  margin: 0;
  padding-top: 30px;
}
.rest-menu-landing .rest-menu-content {
  background-color: white;
  width: 1000px;
  margin: 35px auto 0px auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px;
  padding-bottom: 30px;
  border-radius: 5px;
  gap: 20px 0;
}
.rest-menu-content .order {
  width: 24%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 35px;
}
.rest-menu-content .order .order-info {
  color: gray;
  max-width: 150px;
}
.rest-menu-content .order .order-price {
  font-weight: bold;
  align-self: flex-start;
}
.rest-menu-content .order img {
  width: 130px;
  margin-left: 10px;
}
/* End rest menu  page*/
/* Start books-music page */
.books-music-container {
  position: relative;
}
.books-music-overview {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  position: relative;
  background: linear-gradient(#191717, #0D0D0D, #052159);
}
.books-music-overview .left-column, .books-music-overview .right-column  {
  width: 39%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.books-music-overview .left-column h2, .books-music-overview .right-column h2 {
  color: white;
  margin-top: 40px;
  margin-bottom: 40px;
}
.books-music-overview .vertical-divider {
  background-color: black;
  width: 70px;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.books-music-overview .item {
  margin: 20px 0;
}
.books-music-overview .item a img {
  height: 300px;
}
.book-content {
  background: linear-gradient(#191717, #0D0D0D, #590539);
  padding-bottom: 50px;
}
.book-content h2 {
  color: white;
  text-align: center;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 50px;
}
.book-content .book-display {
  margin: 0px auto;
  width: 1100px;
  height: 500px;
  background-color: black;
}
.books-music-container .music-section {
  background: linear-gradient(#191717, #0D0D0D, #590539);
  padding-bottom: 50px;
}
.books-music-container .music-section h2 {
  color: white;
  text-align: center;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 50px;
}

#star-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; 
  z-index: 1000; 
}

.star {
  position: absolute;
  width: 8px;
  height: 8px;
  background: linear-gradient(45deg, #fff, rgba(255, 255, 255, 0.5));
  border-radius: 50%;
  animation: fall 2s linear forwards;
}

@keyframes fall {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(calc(-50vw + 100%), 100vh) scale(0.8);
    opacity: 0;
  }
}

.images-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  z-index: 1; /* Zorg ervoor dat dit boven de overlay komt */
  position: relative; /* Belangrijk om de z-index te laten werken */
}

.left-images {
  display: flex;
  margin-left: 300px;
  flex-direction: column;
  gap: 10px
}

.right-images {
  display: flex;
  margin-right: 300px;
  flex-direction: column;
  gap: 10px;
}

.clickable-image {
  width: 100%;
  height: auto;
  border: 2px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.clickable-image:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.left-images a, .right-images a {
  display: block;
}

.left-images img, .right-images img {
  width: 350px;
  height: auto;
  margin-bottom: 15px;
}