.logo1 {

    float: right;
    width: 100px;
    height: 100px;
    margin: auto;
    display: flex;
    position: absolute;
    left: -200px
    
}

.logo2 {
    float: left;
    display: flex;
    position: relative;
    right: -200px;

}


.logo1:hover{
    transform: scale(1.30);
    cursor: pointer;

}
.logo2:hover{

        transform: scale(1.30);
        cursor: pointer;
        width: 50%;
}
.tekst2 {
display: flex;
width: 50%;
position: relative;
float: left;
}