.logo1 {

    float: right;
    height: 100px;
    width: 300px;
    margin: 300px;
    display: flex;
    position: relative;
    left: -200px
}

.logo2 {
    float: left;
    height: 300px;
    width: 300px;
    margin: 300px;
    display: flex;
    position: relative;
    right: -200px;



}


.logo1:hover{
    transform: scale(1.30);
}
.logo2:hover{

        transform: scale(1.30);
}